@model LiberarySystem.ViewModels.BorrowInvoiceListDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BorrowInvoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
